:root {
  --primary: #092a66;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 4000px;
}

/*navbar*/
.navbar {
  padding: 1.4rem 7%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .navbar-nav a {
  color: #f1f1f1;
  display: inline-block;
  font-size: 16px;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: grey;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid grey;
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f1f1f1;
  font-style: italic;
}

.navbar .menu a {
  color: var(--bg);
}

#menu {
  display: none;
}

/*awal sectiom*/
.awal {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/img.2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.awal .isi {
  display: flex;
  padding: 1.4rem 7%;
  display: block;
  margin-left: 26rem;
}

.awal .isi h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 1, 3, 0.5);
}

.awal .isi a {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 3px rgba(0, 1, 3, 0.5);
  line-height: 4rem;
}

.awal .isi a:hover {
  background-color: navy;
}

/*section kedua*/
.kedua {
  min-height: 100vh;
  background-image: url("../img/img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kedua h1 {
  color: navy;
  text-align: center;
  font-size: 3rem;
  padding: 8rem 7% 1.4rem;
  margin-bottom: 2rem;
}

.kedua .tentang {
  display: flex;
  padding: 0 7%;
}

.kedua .tentang .tentang-img {
  flex: 1 1 45rem;
}

.kedua .tentang .tentang-img img {
  width: 100%;
  box-shadow: 2px 2px 3px rgba(0, 1, 3, 0.5);
}

.kedua .tentang .isi {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.kedua .tentang .isi h3 {
  color: black;
  font-size: 3rem;
}

.kedua .tentang .isi p {
  color: black;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

/*section ketiga*/
.tanya h1 {
  color: navy;
  padding: 8rem 7% 1.4rem;
  text-align: center;
  font-size: 3rem;
}

/*media Queries*/

/*dekstop*/
@media (max-width: 2560px) {
  html {
    font-size: 100%;
  }
}

/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav.active a {
    color: black;
    margin: 1.5rem;
    padding: 0.5rem;
    display: block;
    font-size: 2rem;
  }

  .navbar .navbar-nav.active a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav.active a:hover::after {
    transform: scaleX(0.2);
  }
}

.kedua .tentang {
  flex-wrap: wrap;
}

/*mobile*/
@media (max-width: 425px) {
  html {
    font-size: 55%;
  }
}
